<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/previewUsuario.css" rel="stylesheet">
	
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Gaming Hub</title>
  </head>
  <body class="corpo">
    <div th:replace="~{cabecalho :: cabecalho}"></div>
    
    <div class="container">
	  	<div class="row">
	  		<th:block th:if="${usuario == null}"><div th:replace="~{boasVindas :: boasVindas}"></div></th:block>
		   	<th:block th:unless="${usuario == null}"><div th:replace="~{previewUsuario :: previewUsuario}"></div></th:block>
		   	<div class="col caixaPrincipal">
				
					<form class="form input-group mb-3 caixaPesquisa" th:action="@{/GamingHub?idUnico=} + ${idUnico} + '&buscastring=' + *{nomebusca}" th:object="${busca}" method="POST">
				  		<input type="text" th:field="*{nomebusca}" class="form-control" id="nomebusca" name="nomebusca" aria-label="Text input with dropdown button" placeholder="Pesquise pelo nome de um jogo...">
				  		<button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>					
					
						  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenar</button>
						  <ul class="dropdown-menu dropdown-menu-end">
						    <li><a class="dropdown-item" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&ordena=1'">Ordem alfabética (A-Z)</a></li>
						    <li><a class="dropdown-item" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&ordena=2'">Ordem alfabética (Z-A)</a></li>
						    <li><a class="dropdown-item" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&ordena=0'">Número de recomendações</a></li>
						  </ul>
					
					</form>
				<div th:if="${jogos.size()!=0}">
					<div class="container">
					  <div class="row d-flex justify-content-center caixaJogos">			  
					    	<a th:each="i: ${#numbers.sequence(0, jogos.size()-1)}" th:href="@{/jogo?idUnico=} + ${idUnico} + '&id=' + ${jogos.get(i).dados.id}" class="col-3 caixaJogo">
						      	<img th:src="${jogos.get(i).dados.imagem}" class="img-fluid">
				      			<h1 th:text="${jogos.get(i).dados.nome}" class="nomeJogo"></h1>
					    	</a>			    	
				    		
					  </div>
					</div>
					<nav aria-label="Page navigation example">
					  <th:block th:if="${numPagina==0 && numPagina==maxpagina}">
					  	<ul class="pagination justify-content-center">
					  		<li class="page-item active"><a class="page-link" th:text="${numPagina}" href="#"></a></li>
					  	</ul>
					  </th:block>
					  <th:block th:unless="${numPagina==0 && numPagina==maxpagina}" th:if="${numPagina==0}">
					  	<ul class="pagination justify-content-center">						  
						    <li class="page-item active"><a class="page-link" th:text="${numPagina}" href="#"></a></li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina + 1}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina + 1}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina + 2}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina + 2}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item">
						      <a class="page-link" aria-label="Next" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${maxpagina}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}">
						        <span aria-hidden="true">&raquo;</span>
						        <span class="sr-only"></span>
						      </a>
						    </li>
						</ul>
					  </th:block>
					  
					  <th:block th:unless="${numPagina==0}" th:if="${numPagina==maxpagina}">
					  	<ul class="pagination justify-content-center">
						    <li class="page-item">
						      <a class="page-link" aria-label="Previous" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${0}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}">
						        <span aria-hidden="true">&laquo;</span>
						        <span class="sr-only"></span>
						      </a>
						    </li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina - 2}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina - 2}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina - 1}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina - 1}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item active"><a class="page-link" th:text="${numPagina}" href="#"></a></li>						
						</ul>
					  </th:block>
					  
					  <th:block th:unless="${numPagina==maxpagina}" th:if="${numPagina!=0}">
					  	<ul class="pagination justify-content-center">
						    <li class="page-item">
						      <a class="page-link" aria-label="Previous" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${0}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}">
						        <span aria-hidden="true">&laquo;</span>
						        <span class="sr-only"></span>
						      </a>
						    </li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina - 1}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina - 1}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item active"><a class="page-link" th:text="${numPagina}" href="#"></a></li>
						    <li class="page-item"><a class="page-link" th:text="${numPagina + 1}" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${numPagina + 1}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}"></a></li>
						    <li class="page-item">
						      <a class="page-link" aria-label="Next" th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&numPagina=' + ${maxpagina}  + '&ordena=' + ${ordena} + '&buscastring=' + ${buscastring} + '&favorito=' + ${favorito}">
						        <span aria-hidden="true">&raquo;</span>
						        <span class="sr-only"></span>
						      </a>
						    </li>
						</ul>
					  </th:block>
					  
					</nav>
				</div>
				<div th:unless="${jogos.size()!=0}" class="caixaErro">
			    		<h1>Não foi possível encontrar</h1>
			    		<h1>jogos com os parâmetros fornecidos!</h1>
			    </div>
				
		   	</div>
	  	</div>
	</div>
	<div th:if="${jogos.size()==9}" class="rodape">
		<h5 class="mensagemRodape">Desenvolvido por Danilo e Enzo &reg;</h5>
	</div>
	<div th:unless="${jogos.size()==9}" class="rodapeMenor">
		<h5 class="mensagemRodape">Desenvolvido por Danilo e Enzo &reg;</h5>
	</div>
	
	<script src="https://kit.fontawesome.com/5cdaf0dc04.js" crossorigin="anonymous"></script>
	
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>