<div class="col-3" th:fragment="previewUsuario">
    <div class="caixaUsuario">
    	<div class="caixaImagemUsuario">
    		<img th:src="${usuario.getImgPerfil()}" class="img-fluid">
    	</div>
    	<div class="caixaInformacoesUsuario">
			<h2 class="nomeUsuario" th:text="${usuario.getNome()}"></h2>
			<div class="caixaUsuarioConfig">
				<h3 class="emailUsuario" th:text="${usuario.getEmail()}"></h3>
				<a th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&logout=true'" class="btn"><i class="fas fa-sign-out-alt logOut"></i></a>
			</div>
    	</div>
    </div>
    <a th:href="@{/GamingHub?idUnico=} + ${idUnico} + '&favorito=true'" class="btn btn-outline-danger botaoFavoritos">
    	<h4>Exibir favoritos! <i class="fas fa-heart"></i></h4>
    </a>
</div>