.corpo{
	background-color: whitesmoke;
	word-break: break-word;
}

.caixaCabecalho{
	width: 100%;
	background-color: #191919;
}

.logo{
	max-width: 5.5%;
}

.caixaLogin{
	padding-top: 50px;
}

.caixaBotoesLogin{
	margin-top: 40px;
	padding: 10px;
}

.botaoEntrar{
	margin-bottom: 10px;
}

.caixaPrincipal{
	border-left: 1px solid black;
}

.caixaPesquisa{
	padding-top: 55px;
	max-width: 90%;
	margin-left: 50%;
	transform: translate(-50%, 0);
}
.textobusca{
	padding: 0px;
}

.caixaJogos{
	padding-top: 20px;
}

.caixaErro{
	margin-bottom: 10px;
	text-align: center;
}

.caixaJogo{
	background-color: #E5E5E5;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	margin: 35px;
	padding: 15px;
}

a.caixaJogo{
	text-decoration: none;
}

.nomeJogo{
	margin: 5px;
	font-size: 1.3em;
	color: #212529;
}

.rodape, .rodapeMenor{
	background-color: #191919;
	text-align: center;
	padding: 5px 0px;
}

.mensagemRodape, .mensagemRodapeMenor{
	color: #ff9000;
}

.rodapeMenor{
	position: absolute;
	bottom: 0;
	width: 100%;
}






