.caixaPrincipalJogo{
	padding-top: 55px;
	border-left: 1px solid black;
	padding-bottom: 30px;
}

.caixaImagemPrincipalJogo{
	border: 2px solid black;
	margin-bottom: 10px;
}

.caixaAvaliacao{
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

.tituloAvaliacao, .textoAvaliacao{
	font-size: 1.5em;
}

.textoAvaliacaoCompleta{
	font-size: 1.25em;
}

.caixaFotos{
	border: 2px solid black;
	text-align: center;
	padding: 5px;
}

.preco{
	border: 2px solid black;
	margin-bottom: 10px;
	text-align: center;
}

.fotos{
	font-size: 1.5em;
	margin-top: 5px;
}

.caixaFoto{
	margin: 5px;
	border: 2px solid black;
}

.erroMetacritica{
	font-size: 1.25em;
}

.caixaInformacaoJogo{
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 5px;
}

.caixaDupla{
	display: flex;
	flex-direction: row;
}

.caixaSite, .caixaGenero, .caixaTwitter, .caixaYoutube, .caixaSteam, .caixaSteamDB{
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.caixaSite, .caixaTwitter, .caixaSteam{
	margin-right: 2.5px;
}
.caixaGenero, .caixaYoutube, .caixaSteamDB{
	margin-left: 2.5px;
}

.caixaTwitter, .caixaSteam, .caixaYoutube, .caixaSteamDB{
	display: flex;
	vertical-align: center;
}
 .twitter, .youtube, .steam, .steamdb{
 	margin-left: 10px;
 	padding-top: 10px;
 }

.logoInfo{
	padding-top: 5px;
}

.comentarioUsuarioDeslogado{
	text-align: center;
}

.caixaComentarios{
	text-align: center;
	border: 2px solid black;
}

.titulo{
	font-size: 2em;
}

.desenvolvedores{
	font-size: 1.5em;
}

.descricao, .linkSite, .adicionarComentario, .twitter, .youtube, .steam, .steamdb{
	font-size: 1.25em;
}