.caixaUsuario{
	padding-top: 40px;
}

.caixaImagemUsuario, .caixaInformacoesUsuario{
	border: 2px solid black;
	margin-left: 50%;
	transform: translate(-50%, 0);
}

.caixaImagemUsuario{
	width: 70%;
	margin-bottom: 20px;
}

.caixaInformacoesUsuario{
	width: 90%;
	padding: 0px 10px;
	overflow-wrap: break-word;
	margin-bottom: 10px;
}

.caixaUsuarioConfig{
	display: flex;
	align-items: center;
}

.nomeUsuario{
	font-size: 1.75em;
}

.emailUsuario{
	font-size: 1em;
	padding-top: 4px;
}

.botaoFavoritos, .botaoDeslogar{
	border-radius: none;
	width: 90%;
	margin-left: 50%;
	transform: translate(-50%, 0);
	text-align: start;
}

.botaoFavoritos{
	margin-bottom: 10px;
}

.quebraTexto{
	word-break: break-all;
}